// header右侧投稿按钮颜色
$upload-background: #fb7299;
$upload-hover: #f992af;
// 主题色-蓝色
$theme-color: #00aeec;
$theme-color-hover: #00c8f3;
$theme-color--: #6acff3;
//item默认灰色
$item-color: #8a8a8a;
$item-color--: #808385;
$item-color-hover: #e3e6e8;
// 背景颜色
$background--: #f6f7f8;
$background--hover: #e3e6e8;
//文字灰色
$text-color: #666666;
